name: acceptance

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  integration:
    if: github.event_name == 'pull_request'
    environment: runtime
    runs-on: larger
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.5.0

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
          python-version: '3.10'

      - name: Install hatch
        run: pip install hatch==1.7.0

      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Run integration tests
        run: hatch run integration
        env:
          CLOUD_ENV: azure
          DATABRICKS_HOST: "${{ secrets.DATABRICKS_HOST }}"
          DATABRICKS_CLUSTER_ID: "${{ vars.DATABRICKS_CLUSTER_ID }}"
